<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>30 Jul 26 at 17:55</string>
      <string>glyphs.30 J_ul 26 at 17_55</string>
    </array>
    <array>
      <string>30 Jul 26 at 17:49</string>
      <string>glyphs.30 J_ul 26 at 17_49</string>
    </array>
    <array>
      <string>30 Jul 26 at 17:46</string>
      <string>glyphs.30 J_ul 26 at 17_46</string>
    </array>
  </array>
</plist>
